*.cbp
*.o
._*

Makefile

test_files/
cmake-build-debug/
cmake-build-default/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
log/

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.DS_Store
.idea/inspectionProfiles/Project_Default.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
