*.cbp
*.o
._*

Makefile

test_files/
Testing/
cmake-build-debug/
cmake-build-default/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
log/

# User-specific stuff:
.DS_Store
.idea/
PythonScript/.idea/
PythonScript/.DS_Store
.cmake/api/

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
